{% extends 'layout.html' %}
{% block content %}
<div class="container mt-5" style="max-width: 500px;">
    <h3 class="text-center mb-4">Resetowanie hasła</h3>

    <form method="post" class="needs-validation">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_email" class="form-label">Email</label>
            <input type="email" name="email" class="form-control" id="id_email" required>
        </div>

        <div class="modal-footer d-flex flex-column align-items-center gap-2">
            <button type="submit" class="btn btn-primary">Wyślij e-mail z instrukcją</button>
        </div>
    </form>
</div>
{% endblock %}