{% extends "layout.html" %}

{% block content %}
<div id="about-page">
  <h1>🛠️ Pomoc i pożyteczne Informacje</h1>
  <p>👋 Witamy w sekcji pomocy naszego serwisu turystyczno-wypoczynkowego.</p>
  <p>
    📢 Znajdziecie tu informacje dotyczące dodawania ogłoszeń wynajmu, wydarzeń oraz pomoc w rozwiązywaniu problemów związanych z działaniem serwisu.
    🔍 Dział pomocy dynamicznie się rozwija, ale wymaga Państwa udziału – jeśli zauważycie jakiś problem lub macie propozycję usprawnień, chętnie umieścimy je w tej sekcji!
  </p>

  <h2>📄 Dostępne sekcje pomocy:</h2>
  <ul id="help-sections">
    <li>Ankiety</li>
    <li> Czemu mojej miejscowości nie ma wśród innych?</li>
    <li> Jak podpiąć swoje ogłoszenie do strony głównej?</li>
    <li> Miejsca i wydarzenia z najwyższą oceną</li>
    <li> System ocen i komentarzy</li>
  </ul>
</div>
{% endblock %}
