{% extends "layout.html" %}

{% block content %}
    <style></style>
<div id="about-page">
  <h1>Cennik usług📌</h1>

  <h2>📢 Ogłoszenia – wyróżnij swoją ofertę!</h2>
  <ul>
    <li>Dodanie ogłoszenia? <strong>Całkowicie za darmo!</strong></li>
    <li>Chcesz, aby Twoje ogłoszenie było zawsze na górze? <strong>49 zł netto / miesiąc</strong> – liczba miejsc ograniczona, liczy się kolejność zgłoszeń!</li>
  </ul>

  <h2>💼 Usługi – rozwiń swoją obecność online</h2>
  <ul>
    <li>Twoja własna strona w naszej domenie: <strong>69 zł netto / rok</strong> (np. <em>tomek.wypoczynkowy.com</em>)</li>
    <li>Profesjonalny adres e-mail: <strong>39 zł netto / rok</strong> (np. <em>tomek@wypoczynkowy.com</em>)</li>
    <li>Potrzebujesz strony internetowej zarządzanej przez Ciebie? Cena ustalana indywidualnie – dopasujemy rozwiązanie do Twoich potrzeb!</li>
    <li>Lepsza widoczność w wyszukiwarkach? Pozycjonowanie stron już od <strong>150 zł netto</strong> (kwota zależy od popularności i konkurencji frazy).</li>
  </ul>

  <h2>🎨 Bannery – skuteczna reklama dla Twojej oferty</h2>
  <ul>
    <li>Widoczność ponad konkurencją: reklama nad ogłoszeniem – <strong>199 zł netto / miesiąc</strong></li>
    <li>Wyświetlanie pod ogłoszeniem – <strong>99 zł netto / miesiąc</strong></li>
    <li>Blok reklamowy w bocznej kolumnie – <strong>89 zł netto / miesiąc</strong></li>
    <li>Eksponowana reklama na górze prawej kolumny – <strong>99 zł netto / miesiąc</strong></li>
  </ul>
</div>
{% endblock %}
