
    <style>

        .powitanie {
            padding: 20px;
            background-color: #ffffff;
            color: #333;
            text-align: center;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        }
        .powitanie h1 {
            color: #1565c0;
        }
    </style>

    <div class="powitanie">
        <h1>Masz czas wolny i nie wiesz gdzie go spędzić?</h1>
        <p>Odkryj najlepsze miejsca do wypoczynku i ciesz się relaksem!</p>
        <p>Dla ciebie dla rodziny!!!</p>
        <a href="http://localhost:8000">www.wypoczynkowy.com</a>

    </div>
<br>