{% extends 'layout.html' %}

{% block title %}{% if object %}Edytuj{% else %}Dodaj{% endif %} Wydarzenie{% endblock %}

{% block content %}
<div class="form-container">
    <h2>{% if object %}Edytuj{% else %}Dodaj{% endif %} wydarzenie</h2>

    {% if messages %}
        {% for message in messages %}
            <div class="message_new">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form %}
            {% include 'includes/form_field.html' with field=field %}
        {% endfor %}

        <div class="display_event">
            <button type="submit" class="btn btn-primary">
                {% if object %}Zapisz zmiany{% else %}Dodaj wydarzenie{% endif %}
            </button>
            <a href="{% url 'events:list_event' %}"  class="btn btn-secondary">
            Anuluj
            </a>
        </div>
    </form>
</div>
{% endblock %}
